\
torch --index-url https://download.pytorch.org/whl/cu118
transformers
datasets
pandas
scikit-learn
kagglehub
numpy
tqdm # Added for progress bars
lifelines # Added for Concordance Index
matplotlib # Added for plotting